body{
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    color: #CDC1C5;
    font-size: 12px;
}
p{
    line-height: 20px;
    text-align: justify;
}
h1{
    font-size: 24px;
    color: #003366;
    text-transform: uppercase;
}
h2{
    font-size: 14px;
    padding: 5px;
    background-color: #E3E3E3;
    color: #4C4C4C;
}